body{
  background:#f3f1f4;
  padding:0;
  margin:0;
}

p{
  margin:0;
  line-height:1.5em;
}

a{
  text-decoration:none;
  color:#000;
}

a:hover, a:focus , a:active{
  background:#f3f1f4;
}

.padding_20{
  padding:20px
}

.bg_white{
  background:#fff;
}

.header{
  background:#ffffff;
  padding:40px 20px;
  margin-bottom:20px;
  box-shadow:0px 5px 10px rgba(0,0,0,0.1);
}

.header p{
  font-size:24px;
  font-weight:600;
}

.wrapper{
  width:100%;
  display:flex;
}

.catalogue{
  width:20%;
  box-shadow:0px 5px 10px rgba(0,0,0,0.1);
}

.catalogue a{
  display:block;
  padding:20px;
  border-top:1px solid #f3f1f4;
}

.catalogue a:first-child{
  border-top:0;
}

.content_wrapper{
  padding-left:20px;
  width:80%;
  display:block;
}

.content{
  box-shadow:0px 5px 10px rgba(0,0,0,0.1);
}

.diary_item{
  display:block;
}

.diary_title{
  padding:20px;
}

.diary_time{
  font-size:0.75em;
  color:#aaaaaa;
  padding:0 20px 20px 20px;
}
