body{
  background:#f3f1f4;
  padding:0;
  margin:0;
}

p{
  margin:0;
  line-height:2em;
}

img{
  width:100%;
}

a{
  text-decoration:none;
  color:#000;
}

a:hover, a:focus , a:active{
  background:#f3f1f4;
}

.box{
  background:#fff;
  padding:20px
/*box-shadow:0px 5px 10px rgba(0,0,0,0.1);*/
}

.dark_model{
  background: #0e0e0e;
}

.dark_model p{
  color:rgba(255,255,255,0.8);
}

.dark_model .box{
  background: #171717;
}

.padding_20{
  padding:20px
}

.bg_white{
  background:#fff;
}

.header{
  margin-bottom:20px;
  text-align:center;
}

.header p{
  font-size:24px;
  font-weight:600;
}

.wrapper{
  width:100%;
  display:flex;
}

.catalogue{
  width:20%;
}

.catalogue a{
  display:block;
  padding:20px;
  border-top:1px solid #f3f1f4;
}

.catalogue a:first-child{
  border-top:0;
}

.content_wrapper{
  display:block;
}

.content{
  margin-top:10px; 
}

.diary_item{
  display:block;
}

.diary_time{
  font-size:0.75em;
  color:#aaaaaa;
  margin-top:20px;
}
